assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
*.zip
*.data
*.log
*.bin
.buildpath
.project
.settings/org.eclipse.wst.validation.prefs
