@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  /* font-family: "Roboto"; */
  font-family: "Nunito";
}
main {
  min-height: 100%;
}
p {
  margin-bottom: 0;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #337ab7;
}
.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.breadcrumb {
  background-color: white;
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  // background-image: url("/img/bg-main.jpg");
  /* overflow: hidden; */
}
.footer {
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.main {
  flex: 2 1 auto;
}

.my-zayavki {
  display: flex;
  justify-content: space-between;
}

.zayavka-body {
  background-color: rgba(255, 255, 254, 0.856);
  justify-content: center;
  flex-direction: column;
}
.application {
  border-radius: 12px;

  /* margin-bottom: 15px; */
}

.application-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.25rem 1.25rem;
}

.zayavka-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px !important;
  // font-size: 12px;
}
.zayavka-title {
  // font-size: 16px;
  align-self: flex-start;
}
.zayavka-subtitle {
  // font-size: 14px;
  align-self: flex-start;
}
.zayavka-id,
.zayavka-time {
  // font-size: 12px;
  margin-bottom: 0;
}
.zayavka-id a {
  text-decoration: none;
}
.zayavka-id a:hover {
  text-decoration: none;
  color: #a94442;
}
.otmetka {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  // align-self: flex-end;
  align-items: flex-end;
  text-align: end;
  // max-width: 250px;
}

.readmore-js-toggle,
.readmore-js-section {
  display: block;
  width: 100%;
}
.readmore-js-section {
  overflow: hidden;
}
// .text_otkaz {
//   overflow: hidden;
//   position: relative;
//   max-height: 50px;
//   padding-top: 5px;
// }

.link-toggle {
  cursor: pointer;
  text-decoration: none !important;
  font-size: 12px;
}
.text {
  margin: 0;
  // font-size: 14px !important;
}
.my-zayvka-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subfooter {
  display: flex;
  justify-content: space-around;
}

.form-cancel {
  margin: 0 !important;
}
.otkaz-zayavka {
  color: red;
}
.chist-zayavka {
  color: green;
}
.inprogress-zayavka {
  color: rgb(252, 122, 1);
}
.cancelled {
  color: #0c0c0c;
}
.form-label {
  margin: 0;
}
.cancel-button,
.btn-login,
.btn-reg,
.btn-recover,
.btn-change-pwd,
.btn-save {
  background-color: #337ab7;
}
.btn-login,
.btn-reg,
.btn-recover,
.btn-change-pwd {
  width: 100%;
}
.zayavka-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*page login, changepwd, lostpwd, register*/
.site-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*endpage login, changepwd, lostpwd, register*/

/*official start*/
.official-post {
  border-radius: 12px;
}
.header-post {
  display: flex;
  flex-direction: column;
}
.system-button {
  display: flex;
}
.not-personal {
  display: flex;
  justify-content: space-between;
}
.footer-post,
.post-edit-form {
  display: flex;
  justify-content: flex-end;
}
.dropdown-top-menu {
  left: -93px;
  top: 40px;
}

.modal-content-newItem {
  height: 85vh;
}
/*official end*/
/*approval start*/
.approval-body-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.approval-footer {
  display: flex;
  justify-content: space-between;
}
.approval-bottom-card {
  display: flex;
  flex-direction: column;
}
.approval-bottom-ip {
  align-self: flex-end;
}
.approvekey {
  display: flex;
  flex-direction: column;
}
/*approval end*/

/*library start*/
.cursor-section {
  cursor: pointer;
}
.cursor-section:hover {
  box-shadow: 0 0 15px #118513 !important;
  border-radius: 12px;
  transform: scale(1.04);
  z-index: 12;
  transition: all ease-in-out 400ms;
}

.card-lib {
  border: 1px solid #a57d0e;
  border-radius: 10px;
  transition: all ease-in-out 400ms;
}
// .cursor-section:hover .card-title {
//   /* font-weight: bold; */
// }
.group-btn {
  display: flex;
  justify-content: flex-end;
  color: white;
}
.btn-edit-lib {
  padding: 0;
  border: 0;
}
.btn-no-border {
  border: 0;
}
.text-header-section {
  border-radius: 15px;
  background-color: rgba(15, 15, 15, 0.233);
}
.cursor-section:hover .text-header-section {
  background-color: rgba(0, 0, 0, 0.849);
}
.text-section {
  padding: 10px 0 10px 15px;
}
.img-section {
  width: 100%;
  height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

/*library end*/

/*zlist start*/
.zlist-head {
  background-color: white;
}
.zlist-sub {
  display: flex;
  justify-content: space-between;
}

.zlistNick {
  /* flex: 2 1 auto; */
  align-self: center;
  // font-size: 20px;
}
.zlist-head-buttons {
  display: flex;
  justify-content: space-around;
}
.btn-zlist {
  position: relative;
  display: inline-block;
  // padding: 2px 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  border: 0;
}

.btn-zlist:hover {
  color: #9bc0c6;
  background-color: transparent;
  border: 0;
}
.btn-zlist-danger {
  position: relative;
  display: inline-block;
  // padding: 2px 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  border: 0;
}
.btn-zlist-danger:hover {
  color: #e8969e;
  background-color: transparent;
  border: 0;
}
.zlist-footer {
  display: flex;
  justify-content: space-between;
}
.buttons-nick-time {
  display: flex;
  justify-content: space-between;
}
.border-action {
  border-radius: 12px;
}
// .link-city,
.link-prof {
  background-color: #337ab7 !important;
  box-shadow: 0 0 15px #2e6da4;
  // color: #337ab7 !important;
}
// .link-city:active,
.link-prof.active {
  border-bottom: 2px solid darkblue;
}

.page-item.active .page-link {
  background-color: #337ab7;
}
.zlist-pagination {
  display: flex !important;
  justify-content: center;
}
.status {
  font-size: 16px;
}
.fa-eye:hover {
  color: #7e0612;
}

.icon-status {
  margin-left: 5px;
}
/*zlist end*/

/*ready start*/
.btn-finish,
.btn-start {
  border: 0;
}

.zlist-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*ready end*/
/*sad*/
.card-fruit {
  display: block;
}
.card-fruit-none {
  display: none;
}
/*sad end*/
/*logs*/
.table-logs {
  height: 100vh;
}
.table-logs td {
  font-size: 14px;
  word-break: break-all;
  // padding: 0.25rem;
}
/*superadmin start*/

.title-card-user {
  display: flex;
  align-items: center;

  justify-content: space-between;
  // flex-direction: column;
}

.list-user {
  padding: 0;
}
.link-user-info {
  text-decoration: none;
}
.link-user-info:hover {
  text-decoration: none;
}
.btn-user-info {
  background-color: transparent;
  font-size: 14px;
  color: #17a2b8;
}
.btn-user-info:hover {
  background-color: transparent;
  // color: #09363d;
  color: transparent;
}
.make-user {
  color: #0c0c0c;
  background-color: transparent;
  text-decoration: none;
  font-size: 18px;
}

.btn-make-dragon {
  color: #7e0612;
  background-color: transparent;
  text-decoration: none;
  font-size: 18px;
}
.btn-make-dragon:hover,
.btn-make-dragon:active {
  color: #dc3545;
  background-color: transparent;
}
.btn-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-user {
  background-color: transparent;
  transition: all ease-in 300ms;
}
.card-user:hover {
  background-color: rgba(245, 234, 206, 0.637);
  box-shadow: 0 0 15px rgba(13, 13, 14, 0.795);
  transition: all ease-in 300ms;
}

.main-block {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.block-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-right: 15px;
  // flex: 0 0 auto;
}
.group-btn {
  border-radius: 12px;
}
// .block-right {
//   // flex-grow: 1;
//   // flex: 1 1 auto;
// }
.sticky-block-menu {
  position: sticky;
  top: 105px;
  z-index: 1020;
}
/*superadmin end*/
/*setting*/
.main-block-setting {
  display: flex;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 20px;
}
.right-block {
  margin-top: 1rem;
  margin-left: 1rem;
}
.left-block {
  border-right: groove grey;
}

/* PROFS*/
.card-profs {
  border-radius: 15px;
}
.card-profs:hover {
  background-color: rgba(233, 233, 233, 0.788);
}
.card-header-profs {
  display: flex;
  justify-content: space-between;
}
.card-title-profs {
  flex-grow: 1;
}

.btn-category.collapsed .title-category::after {
  font-family: "FontAwesome";
  display: inline-block;
  content: "\f0da";
  padding: 0 10px;
  transform: rotate(0deg);
  transition: all ease-in-out 0.4s;
}

.btn-category .title-category::after {
  font-family: "FontAwesome";
  display: inline-block;
  content: "\f0da";
  padding: 0 10px;
  transform: rotate(90deg);
  transition: all ease-in-out 0.4s;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu .sub-menu {
    position: absolute;
    left: -90px;
  }
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

@media (min-width: 960px) {
}

@media (min-width: 768px) {
  .my-zayavki {
    justify-content: space-between;
  }
}
